@tailwind base;
@tailwind components;
@tailwind utilities;

/* .carousel.carousel-slider .control-arrow {
  top: 50% !important;
  bottom: 50% !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;

  border: 1px solid #d1d8e6 !important;
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin-bottom: 7px !important;
}
.carousel .thumbs-wrapper {
  display: none !important;
} */

.carousel .thumbs-wrapper {
  display: none !important;
}
